@use 'variaveis';


.social__links {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    max-height: 20vh;
    background-image: url(/src/images/fundo_matrix.jpg);

    ul{
        padding: 100px;
    }
}

.social__links li {
    padding: 10px;
    align-items: center;

    img{
        width: 20%;
        height: auto;

        @media(max-width: 769px){
            width: 30%;
        }
    }


}
