$corFundo: black;
$corTexto:wheat;
$botaoFundoCompra:#262121;
$botaoCompra: #00ff26;
$botaoFundoInformacao: #ABC8AD;
$botaoTextoInformacao: white;
$botaoSelectInformacao: #83FC91;
$botaoSelectHover: #213927;

